# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# 数据文件
data/
*.db
*.sqlite
*.sqlite3

# 配置文件
.env
.env.prod

# IDE
.vscode/
.idea/
*.swp
*.swo

# 日志
logs/
*.log

# NoneBot
.nb_cache/
